#___________________________________
#  1. cache, build, db sqlite3 files
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
.ipynb_checkpoints/
__pycache__/
.vscode
*.pyc
*.log


#___________________________________
#  2. Temporary exec files for TEST
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
_.py


#___________________________________
#  3. openCV DNN model & Learn value
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*.pb
*.caffemodel
*.avi
*.h5
*.xml
*.mp4
*.npz

im_boxed_*.png
CHART_*.png
avi_test/
